@use '../base/variables';

.our_friends {
  padding: 80px 0 100px 0;
  width: 100%;
  background: variables.$light-l;

  &_header {
    text-align: center;
    width: 400px;
    margin: 0 auto;
  }

  &_wrapper {
    height: 932px;
    margin-top: 45px;
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-template-rows: repeat(2, 435px);
    grid-auto-columns: 270px;
    grid-auto-flow: row;
    overflow: hidden;
    column-gap: 40px;
    row-gap: 30px;

    &-item {
      border-radius: 9px;
      width: 270px;
      height: 435px;
      background-color: variables.$light-s;

      img {
        display: block;
        line-height: 0;
      }

      h4 {
        margin-top: 30px;
        text-align: center;
      }

      & > button {
        display: block;
        width: 187px;
        padding: 15px 42px;
        margin: 30px auto;
      }

      cursor: pointer;
      transition: 0.5s all;

      &:hover {
        background: variables.$color-light-xl;

        & > button {
          background-color: variables.$primary-light;
        }
      }
    }
  }

  &_button {
    padding: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }

  &_carousel {
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    width: 340px;
    justify-content: space-between;
    align-items: center;

    &-item {
      position: relative;
      display: block;
      border-radius: 100px;
      width: 48px;
      height: 48px;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      border: 2px solid variables.$primary;
      color: variables.$dark-3xl;
      cursor: pointer;
      transition: 0.5s all;

      &:hover {
        background-color: variables.$primary;
      }
    }

    & > .disabled {
      cursor: unset;
      color: variables.$dark-s;
      border: 2px solid variables.$dark-s;

      &:hover {
        background-color: unset;
      }
    }

    & > .number {
      background: variables.$primary;
      border: 2px solid variables.$primary;
      transition: 0.5s all;
    }
  }

  &_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-overlay {
      position: fixed;
      display: block;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100vh;
      background: #211f20;
      opacity: 0.7;
      overflow: hidden;
    }

    &-card {
      position: relative;
      display: block;
      width: 900px;
      height: 500px;
      margin: 0 auto;
      z-index: 100;
      background: variables.$light-s;
      box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
      border-radius: 9px;

      &_close {
        display: block;
        position: absolute;
        top: -48px;
        right: -48px;
        width: 48px;
        height: 48px;
        border-radius: 100px;
        border: 2px solid #f1cdb3;
        cursor: pointer;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &_wrapper {
        height: 100%;
        display: flex;
        column-gap: 29px;
      }

      &_img {
        height: 100%;

        img {
          border-radius: 9px 0 0 9px;
          height: 100%;
          line-height: 0;
          font-size: 0;
        }
      }

      &_text {
        padding-top: 50px;
        padding-right: 20px;
      }

      &_type {
        padding-top: 10px;
        display: flex;
        column-gap: 6px;
      }

      &_descr {
        padding: 40px 0;
        color: #000;
      }

      &_detailed {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-left: 10px;
      }

      &_detailed > li::marker {
        color: variables.$primary-light;
      }
    }

    &-hidden {
      display: none;
    }
  }
}
