@use 'variables';

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  a{
    text-decoration: none;
  }
  &::before{
    box-sizing: border-box;
  }
  &::after{
    box-sizing: border-box;
  }
}
body{
  background: variables.$sand;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
}
