$color2: #eee4da;
$color4: #ede0c8;
$color8: #f2b179;
$color16: #f59563;
$color32: #f67c5f;
$color64: #f65e3b;
$color128: #edcf72;
$color256: #edcc61;
$color512: #edc850;
$color1024: #edc53f;
$color2048: #edc22e;
$color4096: #a3d4ff;
$color8192: #8fb3ff;
$color16384: #7d91ff;
$color32768: #6b70ff;
$color65536: #5955ff;
$color131072: #4739ff;
$color262144: #361dff;
$color524288: #2400ff;


$sand: #faf8ef;
$pink: #ffd2da;
$peach: #f69893;
$white: #fff0e8;
$black: black;
$gray: #b1b1b1;
$game-bgn: #bbada0;
$inactive-bgn: #cdc1b4;
$inactive-text: #776e65;
$red: red;
