@import 'base/_fonts.scss';
@import 'base/_variables.scss';
@import 'base/_assets.scss';

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  font-family: "Georgia", sans-serif;
}

.container {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}


@import 'blocks/_pets_header.scss';
@import 'blocks/_pets.scss';
@import 'blocks/_footer.scss';
