@media (max-width: 768px) {
  .player {
    &_item {
      &_wrapper {
        width: 400px;
        height: 400px;
      }
    }
  }
}
@media (max-width: 640px) {
  .player {
    &_wrapper {
      row-gap: 20px;
    }

    &_item {
      &_wrapper {
        width: 300px;
        row-gap: 10px;

        &_image {
          height: 200px;
          border-radius: 20px;

          img {
            height: 100%;
          }
        }

        &_main {
          column-gap: 10px;
        }

        &_controls {
          &-control {
            height: 25px;
          }
        }
      }

    }
  }
  @media (max-width: 340px) {
    .player {
      &_item {
        &_wrapper {
          width: 100%;
          margin: 0 auto;
          height: 100%;
        }
      }
    }
  }
}