.about{
  &_wrapper {
    padding: 80px 0 100px 0;
    display: flex;
    column-gap: 120px;
    justify-content: center;
  }
  img{
      line-height: 0;
      font-size: 0;
  }
  &_picture{
    height: 408px;
  }
  &_textarea{
    padding: 15px 0;
    height: 380px;
    width: 430px;
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}