.donation{
  background: $light-l;
  &_wrapper{
    padding: 80px 0 100px 0;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    &-item {
      a {
        color: $dark-l;
      }
      h5 {
        margin-top: 20px;
      }
      &_bank {
        margin-top: 20px;
        display: inline-flex;
        background: $primary;
        justify-content: space-between;
        column-gap: 15px;
        border-radius: 9px;
        padding: 10px 15px;
        transition: 0.5s all;
      }
      &_bank:hover {
        background: $primary-light;
      }
    }
    p{
      margin-top: 20px;
      width: 380px;
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
    }
  }

  &_textarea{
    width: 430px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}