.not_only{
  padding-top: 180px;
  width: 100%;
  background: url(./../../assets/images/bg/start_bg.png) center (center / cover) no-repeat;
  &_wrapper{
    height: 728px;
    display: flex;
    justify-content: space-between;
    &-item{
      h2{
        margin-top: 163px;
        width: 310px;
        color: $color-light-xl;
      }
      p{
        margin-top: 42px;
        width: 460px;
        color: $dark-s;
      }
      &img{
        width: 698px;
        height: 728px;
      }
      button{
        margin-top: 42px;
      }
    }
  }
  &_button{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}
