@use '../base/variables';

.footer{
  &_wrapper{
    height: 80px;
    width: 100%;
    border-radius: 60px 15px 50px 20px;
    background: variables.$alice;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  &_logo{
    height: 60px;
    img{
      height: 100%;
    }
  }
}
