.c2{
  background-color: $color2;
}
.c4{
  background-color: $color4;
}
.c8 {
  background-color: $color8;
}
.c16{
  background-color: $color16;
}
.c32{
  background-color: $color32;
 }
.c64{
  background-color: $color64;
}
.c128 {
  background-color: $color128;
}
.c256{
  background-color: $color256;
}
.c512{
  background-color: $color512;
}
.c1024{
  background-color: $color1024;
 }
.c2048{
  background-color: $color2048;
}










