.c2{
  background-color: $color2;
}
.c4{
  background-color: $color4;
}
.c8 {
  background-color: $color8;
}
.c16{
  background-color: $color16;
}
.c32{
  background-color: $color32;
 }
.c64{
  background-color: $color64;
}
.c128 {
  background-color: $color128;
}
.c256{
  background-color: $color256;
}
.c512{
  background-color: $color512;
}
.c1024{
  background-color: $color1024;
 }
.c2048{
  background-color: $color2048;
}
.c4096{
  background-color: $color4096;
}
.c8192{
 background-color: $color8192;
}
.c16384{
  background-color: $color16384;
}
.c32768{
  background-color: $color32768;
}
.c65536{
  background-color: $color65536;
}
.c131072{
  background-color: $color131072;
}
.c262144 {
  background-color: $color262144;
}
.c524288{
  background-color: $color524288;
}







