$color2: #eee4da;
$color4: #ede0c8;
$color8: #f2b179;
$color16: #f59563;
$color32: #f67c5f;
$color64: #f65e3b;
$color128: #edcf72;
$color256: #edcc61;
$color512: #edc850;
$color1024: #edc53f;
$color2048: #edc22e;

$sand: #faf8ef;
$pink: #ffd2da;
$peach: #f69893;
$white: #fff0e8;
$black: black;
$gray: #b1b1b1;
$game-bgn: #bbada0;
$inactive-bgn: #cdc1b4;
$inactive-text: #776e65;
$red: red;
