.header{
  &_wrapper{
    padding: 0 20px 15px 20px;
    border-radius: 0  0 50px 50px;
    background: $pink;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &_image{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
  &_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      font-size: 24px;
    }
    h2{
      font-size: 12px;
    }
  }
  &_search{
    input{
      background: $black;
      border-radius: 5px;
      border: 2px solid $alice;
      width: 200px;
      height: 35px;
      color: $alice;
      padding: 10px;
      transition: all 0.5s ease-in-out;
      &:focus-visible {
        background: $pink;
        outline: none;
      }
    }
    button{
      background: $black;
      border-radius: 5px;
      border: 2px solid $alice;
      width: 45px;
      height: 35px;
      transition: all 1s;
      svg{
        height: 25px;
      }
      &:active {
        background: $pink;
      }
    }
  }
}
