@use 'variables';

@media (max-width: 1279px) {
  .not_only{
    &_wrapper {
      flex-wrap: wrap;
    }
  }
  .pets{
    &_wrapper {
      margin: 60px auto 0 auto;
      width: 580px;
      column-gap: 40px;
    }
  }
}
@media (max-width: 1240px) {
  .not_only{
    padding-top: 150px;
    &_wrapper {
      flex-direction: column;
      justify-content: unset;
      row-gap: 100px;
      &-item{
        h2{
          margin-top: unset;
        }
        &:first-child{
          margin: 0 auto;
        }
        img{
          width: unset;
          height: unset;
          max-width: 569px;
        }
      }
    }
    &_button{
      margin: 0 auto;
    }
  }
  .donation{
    &_wrapper {
      padding: 77px 0 96px 0;
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-items: center;
      row-gap: 60px;
    }
  }
  .footer {
    padding-top: 14px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 0 30px;
  }
  .footer {
    &_wrapper {
      justify-content: center;
      column-gap: 60px;
      row-gap: 65px;
    }
  }
  .about {
    &_wrapper {
      flex-wrap: wrap-reverse;
      row-gap: 80px;
    }
    &_textarea{
      padding: unset;
    }

  }
  .pets{
    &_wrapper {
      margin: 58px auto 0 auto;
      width: 580px;
      column-gap: 40px;
    }
    &_arrow {
      width: 50px;
      height: 50px;
    }
    &_button{
      margin: 60px auto 0 auto;
    }
  }
  .help {
    &_wrapper {
      column-gap: 60px;

      &-item {
        width: 170px;
      }
    }
  }

}
@media (max-width: 768px) {

  .fixed{
    overflow: hidden;
  }

  .header{
    &_hamburger{
      cursor: pointer;
      height: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 30;
      span{
        width: 30px;
        height: 2px;
        background: variables.$primary;
      }
    }

    &_container{
      position: fixed;
      height: 100vh;
      right: -100%;
      top: 0;
      transition: 0.5s all;
      &_active{
        right: 0;
        width: 320px;
      }
    }

    &_navigation{
      position: absolute;
      display: flex;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background: variables.$dark-3xl;
      flex-direction: column;
      justify-content: space-around;
      &>ul{
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        .nav_item{
          font-size: 32px;
          padding-right: unset !important;
        }
      }
    }

    &_overlay{
      position: fixed;
      display: none;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background: #211f20;
      opacity: 0.7;
      &_active{
        display: block;
      }
    }
  }

}
@media (max-width: 744px) {
  .pets{
    padding: 42px 0 ;
    &_header{
      font-size: 25px;
      width: unset;
    }
    &_carousel{
      display: flex;
      flex-direction: column-reverse;
    }
    &_arrows {
      padding-top: 20px;
      position: relative;
      top: unset;
      transform: unset;
      justify-content: center;
      column-gap: 80px;    }
    &_wrapper{
      margin-top: 42px;
      width: 270px;
    }
    a{
      margin: 43px auto 0 auto;
    }
  }
}
@media (max-width: 640px){
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .header{
    &_wrapper{
      padding: 0 10px ;
    }
  }
  .not_only {
    padding-top: 150px;
    &_wrapper {
      &-item {
        p{
          width: 300px;
          text-align: center;
        }
        img{
          width: 260px;
          height: 276px;
        }
      }
    }
  }
  .about{
    &_wrapper {
      padding: 42px 0;
      row-gap: 42px;
    }
    &_picture{
      height: unset;
    }
    &_textarea{
      height: unset;
      width: 300px;
      h3{
        text-align: center;
      }
      p{
        text-align: justify;
      }
    }
  }
  .pets{
    padding: 37px 0 42px 0 ;
  }


  .help{
    padding: 42px 0;
    &_wrapper{
      margin: 40px auto 0 auto;
      width: 290px;
      column-gap: 30px;
      justify-content: flex-start;
      row-gap: 30px;
      &-item {
        width: 130px;
        text-align: center;
        height: 87px;
        &_image{
          svg{
            width: 50px;
          }
        }
      }
    }
  }

  .donation{
    padding: 43px 0 38px 0;
    &_wrapper {
      padding: 0 42px;
      row-gap: 42px;
      &-item {
        img {
          width: 260px;
          height: 135px;
        }
        p{
          width: unset;
        }
      }
    }
  }

}
@media (max-width: 340px){
  .not_only {
    padding-top: 150px;
    &_wrapper {
      &-item {
        h2 {
          margin: 0 auto;
          font-size: 25px;
          line-height: 130%;
          letter-spacing: 0.06em;
          text-align: center;
          width: 230px;
        }
      }
    }
  }
  .about{
    &_textarea {
      width: 270px;
      row-gap: 22px;
       h3{
          font-size: 25px;
       }
      p{
        padding-top: 3px;
      }
      p:last-child{
        padding-top: 0;
      }
    }
    &_picture{
      width: 260px;
      img{
        width: 100%;
      }
    }
  }
  .pets{
    &_header{
      text-align: center;
    }
  }
  .help{
    &_title{
      margin: 0 auto;
      font-size: 25px;
      text-align: center;
    }
    &_wrapper{
      &-item{
        &_text{
          font-size: 15px;

        }
      }
    }
  }
  .donation{
    &_wrapper{
      &-item{
        h3{
          font-size: 25px;
          text-align: center;
        }
        h5{
          font-size: 15px;
          line-height: 160%;
          letter-spacing: unset;
        }
        p{
          width: 280px;
          text-align: justify;
        }
        &_bank{
          width: 280px;
          align-items: center;
            h4{
              font-weight: 400;
              font-size: 15px;
              line-height: 110%;
              letter-spacing: 0.057em;
            }
         }
      }
    }
  }
  .footer{
    &_wrapper{
      row-gap: unset;
        h3{
          text-align: center;
          font-size: 25px;
        }
        a{
          margin: 0 auto;
        }
      &-item{
        justify-content: center;
      }
    }
    &_address{
      margin-top: 22px;
      h3{
        width: 270px;
        margin: 0 auto;
      }
      .footer_wrapper-item{
        margin-top: 40px;
        justify-content: left;
      }
    }
    &_image{
      margin-top: 40px;
      width: 260px;
      img{
        width:100%;
      }
    }
  }
}
